<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleName</key>
	<string>Cows &amp; Bulls</string>
	<key>CFBundleDisplayName</key>
	<string>Cows &amp; Bulls</string>
	<key>CFAppleHelpAnchor</key>
	<string>index</string>
	<key>CFBundleHelpBookFolder</key>
	<string></string>
	<key>CFBundleHelpBookName</key>
	<string>CowsAndBullsHelp</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>CFBundleShortVersionString</key>
	<string>1.8</string>
	<key>NSHumanReadableCopyright</key>
	<string>ArrayOfLilly</string>
</dict>
</plist>
